<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
    <% pessoas.forEach((pessoa) => { %>
        <p>
        <%= pessoa.id %><br/>
        <%= pessoa.nome %><br/>
        <%= pessoa.sobrenome %><br/>
        <%= pessoa.idade %><br/>
        <%= pessoa.altura %></p>
        <button><a href="/pessoas/delete?id=<%= pessoa.id %>">Delete</a></button>
    <% }) %>
</body>
</html>